<link rel="stylesheet" href="/footer.css">
<div class="container-fluid shadow-lg footer">
    <div class="row">
        <div class="col-lg-3 footer-column" id="logo-socials-cta">
            <!-- Logo container + Social CTAs -->
            <img src="/Vector-Icons/Stishh-sm-rounded.svg" alt="" width="200" height="80">
            <h4 class="mt-4">Follow us!</h4>
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.facebook.com/Stishh.Media?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=Facebook+Website+Links">
                        <img class="mb-2 social-cta" src="/Vector-Icons/facebook_logo_icon-colour.svg" alt="" width="42" height="42">
                    </a>
                </li>
                <li target="_blank" class="list-inline-item">
                    <a target="_blank" href="https://www.instagram.com/stishh_media/?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=Instagram+Website+Links">
                        <img class="mb-2 social-cta" src="/Vector-Icons/instagram_logo_icon-colour.svg" alt="" width="42" height="42">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://twitter.com/Stishh_Media?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=Twitter+Website+Links">
                        <img class="mb-2 social-cta" src="/Vector-Icons/twitter_logo_icon-colour.svg" alt="" width="42" height="42">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.snapchat.com/add/stishh_media?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=Snapchat+Website+Links">
                        <img class="mb-2 social-cta" src="/Vector-Icons/snapchat_logo_icon.svg" alt="" width="42" height="42">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.pinterest.co.uk/stishh_media/?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=Pinterest+Website+Links">
                        <img class="mb-2 social-cta" src="/Vector-Icons/pinterest_logo_icon.svg" alt="" width="42" height="42">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.tiktok.com/@stishh_media?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=TikTok+Website+Links">
                        <img class="mb-2 social-cta" src="/Vector-Icons/tiktok_logo_icon.svg" alt="" width="42" height="42">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.youtube.com/channel/UC3NqIMUufl-3z2b9Amz9BXw?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=YouTube+Website+Links">
                        <img class="mb-2 social-cta" src="/Vector-Icons/youtube_logo_icon.svg" alt="" width="42" height="42">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 footer-column" id="topics-cta">
            <!-- Topics Container -->
            <div>
                <h4>Discover</h4>
                <ul class="list-unstyled">
                    <li class="mt-4">
                        <a class="topic-link" href="/Travel">
                            Travel
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="topic-link" href="/Gaming">
                            Gaming
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="topic-link" href="/Internet">
                            Internet
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="topic-link" href="/Animals">
                            Animals
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="topic-link" href="/Movies">
                            Movies
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="topic-link" href="/TV-shows">
                            TV Shows
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="topic-link" href="/Arts">
                            Arts
                        </a>
                    </li>
                    <li class="mt-2">
                        <a class="topic-link" href="/Music">
                            Music
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 footer-column" id="support-cta">
            <!-- Business Support Container -->
            <div>
                <h4>Support</h4>
                <ul class="list-unstyled">
                    <li class="mt-4">
                        <a href="#">
                            About Stishh
                        </a>
                    </li>
                    <li class="mt-2">
                        <a href="#">
                            Newsletters + Deals
                        </a>
                    </li>
                    <li class="mt-2">
                        <a href="#">
                            Become an Author!
                        </a>
                    </li>
                    <li class="mt-2">
                        <a href="#">
                            Become a Developer!
                        </a>
                    </li>
                    <li class="mt-2">
                        <a href="#">
                            Coontact Us
                        </a>
                    </li>
                    <li class="mt-2">
                        <a href="#">
                            Help
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 footer-column" id="stishh-cta">
            <!-- Stishh Related + CTAs -->
            <div>
                <h4>Stishh</h4>
                <ul class="list-unstyled">
                    <li class="mt-4">
                        <a href="/Privacy-Policy">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="mt-2">
                        <a href="#">
                            2022 copyright
                        </a>
                    </li>
                    <li class="mt-2">
                        <a href="#">
                            Creators
                        </a>
                    </li>
                    <li class="mt-2">
                        <a href="/Our-Media-Pages">
                            <!-- For the embedded social media pages -->
                            Our Media Pages
                        </a>
                    </li>
                    <li class="mt-2">
                        <a href="#">
                            <!-- For subsidiary social media accounts that Stishh owns -->
                            Media Subsidiaries
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>