<% layout('../layouts/boilerplate') %>
<div class="map-container">
    <svg class="world-map" width='100vw' height='100vh'></svg>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.1.1/d3.js" integrity="sha512-gIER+r9k70gtEKHRZuyOVIKis4Vy0RFGSGhW48dIqyXAnuqr3Enxwc71gq5ludmgOCYvg7pgSFu6Er3NytazKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/topojson@3"></script>
<script src="../JS/world.js" type="text/javascript"></script>