<% layout('../layouts/boilerplate') %>
<link rel="stylesheet" href="../CSS/landing-page.css">

<section id="main-articles" class="container p-4">
    <div class="row g-4 fill-height">
        <div class="col-lg-6">
            <div class="wrapper">
                <div id="featured-article" class="article-post">
                </div>
                <div class="article-details">
                    <h2 class="display-7 fancy-link">Main Title 1</h2>
                    <p id="featured-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    </p>
                    <div style="display: flex; justify-content: space-evenly;">
                        <img id="featured-article-profile-picture" class="profile-picture" src="/Images/jack-delulio.jpg" alt="">
                        <p>By Robert</p>
                        <p>5 min read</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="container-stack">
                <div class="container-fluid fill-height">
                    <div class="row g-4 fill-height">
                        <div class="col-12">
                            <div class="wrapper">
                                <div id="secondary-article" class="article-post">
                                </div>
                                <div class="article-details">
                                    <h2 class="display-7 fancy-link">Main Title 2</h2>
                                    <div style="display: flex; justify-content: space-evenly;">
                                        <img id="secondary-article-profile-picture" class="profile-picture" src="/Images/jack-delulio.jpg" alt="">
                                        <p>By Robert</p>
                                        <p>5 min read</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid fill-height">
                    <div class="row fill-height">
                        <div class="col-md-6">
                            <div class="wrapper">
                                <div id="third-article" class="article-post">
                                </div>
                                <div class="article-details">
                                    <h2 class="display-7 fancy-link">Main Title 3</h2>
                                    <div style="display: flex; justify-content: space-evenly;">
                                        <img id="third-article-profile-picture" class="profile-picture" src="/Images/jack-delulio.jpg" alt="">
                                        <p>By Robert</p>
                                        <p>5 min read</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wrapper">
                                <div id="fourth-article" class="article-post">
                                </div>
                                <div class="article-details">
                                    <h2 class="display-7 fancy-link">Main Title 3</h2>
                                    <div style="display: flex; justify-content: space-evenly;">
                                        <img id="fourth-article-profile-picture" class="profile-picture" src="/Images/jack-delulio.jpg" alt="">
                                        <p>By Robert</p>
                                        <p>5 min read</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="top-highlights">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="mb-4">
                    <h2 class="display-6 m-0">Our recent favourites</h2>
                    <p>Latest articles, country collages, videos, and travel advice</p>
                </div>
                <div class="row gy-4">
                    <div class="col-sm-6">
                        <div class="card">
                            <div style="position: relative; overflow: hidden; height: 20rem; border-radius: .5rem;">
                                <img class="card-img article-image" src="/Article-Images/Japan-Shibuya.jpg" alt="">
                            </div>
                            <div class="card-body px-0 pt-3">
                                <div style="z-index: 2;" class="d-flex align-items-start flex-column pb-3">
                                    <a href="#" class="badge bg-success">Travel</a>
                                </div>
                                <h4 class="card-title fancy-link">Some article about Japan!</h4>
                                <p class="card-text">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis consequuntur hic voluptatum mollitia, consequatur dolorum recusandae aliquid reprehenderit praesentium rerum cumque ut ipsum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div style="position: relative; overflow: hidden; height: 20rem; border-radius: .5rem;">
                                <img class="card-img article-image" src="/Article-Images/Japan-Street.jpg" alt="">
                            </div>
                            <div class="card-body px-0 pt-3">
                                <div style="z-index: 2;" class="d-flex align-items-start flex-column pb-3">
                                    <a href="#" class="badge bg-success">Travel</a>
                                </div>
                                <h4 class="card-title fancy-link">Some article about Japan!</h4>
                                <p class="card-text">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis consequuntur hic voluptatum mollitia, consequatur dolorum recusandae aliquid.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div style="position: relative; overflow: hidden; height: 20rem; border-radius: .5rem;">
                                <img class="card-img article-image" src="/Article-Images/Netherlands-Amsterdam.jpg" alt="">
                            </div>
                            <div class="card-body px-0 pt-3">
                                <div style="z-index: 2;" class="d-flex align-items-start flex-column pb-3">
                                    <a href="#" class="badge bg-success mb-1">Travel</a>
                                    <a href="#" class="badge bg-warning mb-1">Photography</a>
                                </div>
                                <h4 class="card-title fancy-link">Some article about Amsterdam!</h4>
                                <p class="card-text">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis consequuntur hic voluptatum mollitia, consequatur dolorum recusandae aliquid reprehenderit praesentium rerum cumque ut ipsum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div style="position: relative; overflow: hidden; height: 20rem; border-radius: .5rem;">
                                <img class="card-img article-image" src="/Article-Images/Bulgaria-Sofia.jpg" alt="">
                            </div>
                            <div class="card-body px-0 pt-3">
                                <div style="z-index: 2;" class="d-flex align-items-start flex-column pb-3">
                                    <a href="#" class="badge bg-success">Travel</a>
                                </div>
                                <h4 class="card-title fancy-link">Some article about Sofia!</h4>
                                <p class="card-text">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis consequuntur hic voluptatum mollitia, consequatur dolorum recusandae aliquid reprehenderit praesentium rerum cumque ut ipsum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">

                    </div>
                    <div class="col-12 text-center mt-5">
                        <button type="button" class="btn btn-primary">
                            Load more posts
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mt-5 mt-lg-0">
                <div class="row g-2">
                    <div class="col-4">
                        <a class="bg-facebook rounded text-center text-white-force p-3 d-block">
                            <img class="mb-2" src="/Vector-Icons/facebook_logo_icon.svg" alt="" width="24" height="24">
                            <h6 class="m-0">1.5k</h6>
                        </a>
                    </div>
                    <div class="col-4">
                        <a class="bg-instagram-gradient rounded text-center text-white-force p-3 d-block">
                            <img class="mb-1" src="/Vector-Icons/instagram_logo_icon.svg" alt="" width="36" height="36">
                            <h6 class="m-0">2.3k</h6>
                        </a>
                    </div>
                    <div class="col-4">
                        <a class="bg-youtube rounded text-center text-white-force p-3 d-block">
                            <img class="mb-2" src="/Vector-Icons/twitter_logo_icon.svg" alt="" width="24" height="24">
                            <h6 class="m-0">1.7k</h6>
                        </a>
                    </div>
                </div>
                <div>
                    <h4 class="mt-4 mb-3">Our Topics</h4>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="travel-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Travel</h4>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="photography-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Photography</h4>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="culture-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Culture</h4>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="languages-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Languages</h4>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="business-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Business</h4>
                        </div>
                    </div>
                    <div class="mt-2 mb-2">
                        <div class="wrapper">
                            <div id="music-topic-card" class="topic-card">
                                <div class="topic-overlay">
                                </div>
                            </div>
                            <h4 class="topic-title fancy-link">Music</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-12">
                    <h4 class="mt-4 mb-3">Recent Posts</h4>
                    <div class="card mb-3">
                        <div class="row g-3">
                            <div class="col-4">
                                <img src="" alt="">
                            </div>
                            <div class="col-8">
                                <h6>
                                    <a>A Recent Post</a>
                                </h6>
                                <div class="mt-1" style="font-weight: 400;">Date</div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row g-3">
                            <div class="col-4">
                                <img src="" alt="">
                            </div>
                            <div class="col-8">
                                <h6>
                                    <a>A Recent Post</a>
                                </h6>
                                <div class="mt-1" style="font-weight: 400;">Date</div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row g-3">
                            <div class="col-4">
                                <img src="" alt="">
                            </div>
                            <div class="col-8">
                                <h6>
                                    <a>A Recent Post</a>
                                </h6>
                                <div class="mt-1" style="font-weight: 400;">Date</div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row g-3">
                            <div class="col-4">
                                <img src="" alt="">
                            </div>
                            <div class="col-8">
                                <h6>
                                    <a>A Recent Post</a>
                                </h6>
                                <div class="mt-1" style="font-weight: 400;">Date</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>