<% layout('../layouts/boilerplate') %>
<link rel="stylesheet" href="/footer.css">
<div class="container p-4">
    <div class="row">
        <h1 class="text-center">Follow our pages!</h1>
        <div class="col-lg-4 footer-column mt-4 mb-4">
            <!-- Facebook Page Plugin -->
            <a target="_blank" href="https://www.facebook.com/Stishh.Media?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=Facebook+Website+Links">
                <img class="mb-2 social-cta" src="/Vector-Icons/facebook_logo_icon-colour.svg" alt="" width="128" height="128">
            </a>
        </div>
        <div class="col-lg-4 footer-column mt-4 mb-4">
            <!-- Instagram Page Plugin -->
            <a target="_blank" href="https://www.instagram.com/stishh_media/?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=Instagram+Website+Links">
                <img class="mb-2 social-cta" src="/Vector-Icons/instagram_logo_icon-colour.svg" alt="" width="128" height="128">
            </a>
        </div>
        <div class="col-lg-4 footer-column mt-4 mb-4">
            <!-- Twitter Page Plugin -->
            <a target="_blank" href="https://twitter.com/Stishh_Media?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=Twitter+Website+Links">
                <img class="mb-2 social-cta" src="/Vector-Icons/twitter_logo_icon-colour.svg" alt="" width="128" height="128">
            </a>
        </div>
        <div class="col-lg-4 footer-column mt-4 mb-4">
            <!-- Snapchat Page Plugin -->
            <a target="_blank" href="https://www.snapchat.com/add/stishh_media">
                <img class="mb-2 social-cta" src="/Vector-Icons/snapchat_logo_icon.svg" alt="" width="128" height="128">
            </a>
        </div>
        <div class="col-lg-4 footer-column mt-4 mb-4">
            <!-- Pinterest Page Plugin -->
            <a target="_blank" href="https://www.pinterest.co.uk/stishh_media/?utm_source=Stishh+Website&utm_medium=Website+Links&utm_campaign=Pinterest+Website+Links">
                <img class="mb-2 social-cta" src="/Vector-Icons/pinterest_logo_icon.svg" alt="" width="128" height="128">
            </a>
        </div>
        <div class="col-lg-4 footer-column mt-4 mb-4">
            <!-- TikToki Page Plugin -->
            <a target="_blank" href="https://www.tiktok.com/@stishh_media">
                <img class="mb-2 social-cta" src="/Vector-Icons/tiktok_logo_icon.svg" alt="" width="128" height="128">
            </a>
        </div>
        <h1 class="text-center">Our Radios</h1>
        <div class="col-lg-6 d-flex justify-content-center">
            <iframe width="624" height="351" src="https://www.youtube.com/embed/GOShSQJXc04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
</div>