<!DOCTYPE html>
<html lang="en">
<head>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('consent', 'defualt', {
        'ad_storage': 'denied'
    });
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-220093312-1"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NLMN9W9S4E"></script>
<script>
    function consentGranted() {
        gtag('consent', 'update', {
            'ad_storage': 'granted',
        });
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}

        gtag('js', new Date());
        gtag('config', 'G-NLMN9W9S4E');
        gtag('config', 'UA-220093312-1');
        localStorage.setItem('stishh-cookies', 'accepted');
        consentGiven();
    }
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3269896318778397"
     crossorigin="anonymous"></script>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %></title>
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Be+Vietnam+Pro&family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="/Vector-Icons/Stishh-Icon.svg" type="image/x-icon">
</head>
<style>
    .cookie-consent-form {
        position: fixed;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        border-radius: 1rem;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0&appId=1197710897702249&autoLogAppEvents=1" nonce="YDIxg1Fl"></script>
    
    <main class="pb-0 card-grid">
        <%- include('../partials/navbar') %>
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
	<div class="cookie-consent-form shadow-lg">
        <p>This app uses cookies for analytics!</p>
        <p>It helps us understand our web traffic better.</p>
        <p>But you have the choice.</p>
        <div>
            <button onclick="consentFalse()" class="btn btn-primary-colour">Decline</button>
            <button onclick="consentGranted()" class="btn btn-primary-colour">Accept</button>
        </div>
    </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
    try {
        if (localStorage.getItem('stishh-cookies') === 'denied') {
            consentGiven();
        } else if (localStorage.getItem('stishh-cookies') === 'accepted') {
            consentGranted();
            consentGiven();
        }
    } catch(err) {
        console.log(err);
    }
    function consentFalse() {
        localStorage.setItem('stishh-cookies', 'denied');
        consentGiven();
    }
    function consentGiven() {
        document.querySelector('.cookie-consent-form').style.display = 'none';
    }
</script>
</body>
</html>